/Backend/HotelManagement/.vs
/Backend/HotelManagement/.idea
/Backend/.idea
/Backend/HotelManagement.Entities/bin
/Backend/HotelManagement.Entities/obj
/Backend/HotelManagement.EntityFramework/bin
/Backend/HotelManagement.EntityFramework/obj
/Backend/HotelManagement.Models/bin
/Backend/HotelManagement.Models/obj
/Backend/HotelManagement.Services/bin
/Backend/HotelManagement.Services/obj
/Backend/HotelManagement/bin
/Backend/HotelManagement/obj
obj/
bin/
.idea/
.vs/
appsettings.*.json
.env
*/target/*
/Frontend/hotel-management-frontend/.env
/Frontend/hotel-management-frontend/node_modules